:root {
  --guindo: #691532;
  --dorado: #C9A863;
  --fondo: #dbd5d5;
  --gris-oscuro: #333;
  --borde: #ddd;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--fondo);
  color: var(--gris-oscuro);
  margin: 0;
  padding: 0;
 
}

.contenedor {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--fondo);
}



h1 {
  color: var(--guindo);
}

.campo {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

label {
  font-weight: bold;
  color: var(--gris-oscuro);
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid var(--borde);
  border-radius: 5px;
}

button {
  background-color: var(--guindo);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--dorado);
  color: var(--gris-oscuro);
}
